<header  class="text-center">
   <h1>TRY THE <strong>IMPOSSIBLE BURGER</strong></h1>
</header>
<div class="container" id="mainContainer">
   <div class="row">
      <div class="col-md-6 col-sm-12">
         <div class="row" id="box">
            <div class="col-md-12 col-sm-12 text-center ">
               <!-- <h2>Enter a Burger you want to eat: </h2> -->
               <form  class="create-form">
                  <textarea class="form-control" id="bn"  name="name" rows="2" cols="30" autofocus placeholder="Type Your Burger Choice"></textarea><br>
                  <button type="submit" class="btn btn-default btn-default submit" >ORDER</button> 
                  <button type="button" class="btn btn-default btn-default clear" >CLEAR TABLE</button>            
               </form>
               <div class="row">
                  <div class="col-md-12 col-sm-12 burgerbox" id="order" >
                     <form  class="update-form">
                        {{#each burgers}}
                        {{#unless devoured}}
                        <input type="text" value="{{id}}. {{burger_name}}" disabled>
                        <button data-burgerid="{{id}}" class="btn btn-default devour">Eat up</button>
                        {{/unless}}
                        {{/each}}
                     </form>
                  </div>
                  <div class="col-md-12 col-sm-12 burgerbox" >
                     {{#each burgers}}
                     {{#if devoured}}
                     <input type="text" value="{{this.id}}. {{this.burger_name}}" disabled>
                     <br>
                     {{/if}}
                     {{/each}}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>



